@tailwind base;
@tailwind components;
@tailwind utilities;

.code-block {
	width: 100%;
	overflow-x: auto;
}

.code-block pre[data-language] {
	--hljs-foreground: #fff;
}

.code-block pre[data-language] code {
	border-radius: 8px;
}

[data-popper-arrow],
[data-popper-arrow]:before {
	position: absolute;
	width: 8px;
	height: 8px;
	background: inherit;
}

[data-popper-arrow] {
	visibility: hidden;
}

[data-popper-arrow]:before {
	content: '';
	visibility: visible;
	transform: rotate(45deg);
}

[data-popper-arrow]:after {
	content: '';
	visibility: visible;
	transform: rotate(45deg);
	position: absolute;
	width: 9px;
	height: 9px;
	background: inherit;
}

[role='tooltip'] > [data-popper-arrow]:before {
	border-style: solid;
	border-color: #e5e7eb;
}

.dark [role='tooltip'] > [data-popper-arrow]:before {
	border-style: solid;
	border-color: #4b5563;
}

.\!dark [role='tooltip'] > [data-popper-arrow]:before {
	border-style: solid !important;
	border-color: #4b5563 !important;
}

[role='tooltip'] > [data-popper-arrow]:after {
	border-style: solid;
	border-color: #e5e7eb;
}

.dark [role='tooltip'] > [data-popper-arrow]:after {
	border-style: solid;
	border-color: #4b5563;
}

.\!dark [role='tooltip'] > [data-popper-arrow]:after {
	border-style: solid !important;
	border-color: #4b5563 !important;
}

[data-popover][role='tooltip'][data-popper-placement^='top'] > [data-popper-arrow]:before {
	border-bottom-width: 1px;
	border-right-width: 1px;
}

[data-popover][role='tooltip'][data-popper-placement^='top'] > [data-popper-arrow]:after {
	border-bottom-width: 1px;
	border-right-width: 1px;
}

[data-popover][role='tooltip'][data-popper-placement^='right'] > [data-popper-arrow]:before {
	border-bottom-width: 1px;
	border-left-width: 1px;
}

[data-popover][role='tooltip'][data-popper-placement^='right'] > [data-popper-arrow]:after {
	border-bottom-width: 1px;
	border-left-width: 1px;
}

[data-popover][role='tooltip'][data-popper-placement^='bottom'] > [data-popper-arrow]:before {
	border-top-width: 1px;
	border-left-width: 1px;
}

[data-popover][role='tooltip'][data-popper-placement^='bottom'] > [data-popper-arrow]:after {
	border-top-width: 1px;
	border-left-width: 1px;
}

[data-popover][role='tooltip'][data-popper-placement^='left'] > [data-popper-arrow]:before {
	border-top-width: 1px;
	border-right-width: 1px;
}

[data-popover][role='tooltip'][data-popper-placement^='left'] > [data-popper-arrow]:after {
	border-top-width: 1px;
	border-right-width: 1px;
}

[data-popover][role='tooltip'][data-popper-placement^='top'] > [data-popper-arrow] {
	bottom: -5px;
}

[data-popover][role='tooltip'][data-popper-placement^='bottom'] > [data-popper-arrow] {
	top: -5px;
}

[data-popover][role='tooltip'][data-popper-placement^='left'] > [data-popper-arrow] {
	right: -5px;
}

[data-popover][role='tooltip'][data-popper-placement^='right'] > [data-popper-arrow] {
	left: -5px;
}

/* Forms */
[type='text'],
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
	border-width: 1px;
}

[type='checkbox'],
[type='radio'] {
	appearance: none;
	border-width: 1px;
	display: inline-block;
	vertical-align: middle;
}

[type=radio] {
    border-radius: 100%;
}

[type='checkbox']:checked {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

[type=radio]:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}

[type='checkbox']:checked,
[type='radio']:checked,
.dark [type='checkbox']:checked,
.dark [type='radio']:checked {
	border-color: transparent;
	background-color: currentColor;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}

[type='checkbox']:focus,
[type='radio']:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
	--tw-ring-inset: var(--tw-empty);
	--tw-ring-offset-width: 2px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: #1c64f2;
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width)
		var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width))
		var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}
