@tailwind base;
@tailwind components;
@tailwind utilities;

.code-block {
	width: 100%;
	overflow-x: auto;
}

.code-block pre[data-language] {
	--hljs-foreground: #fff;
}

.code-block pre[data-language] code {
	border-radius: 8px;
}

[data-popper-arrow],
[data-popper-arrow]:before {
	position: absolute;
	width: 8px;
	height: 8px;
	background: inherit;
}

[data-popper-arrow] {
	visibility: hidden;
}

[data-popper-arrow]:before {
	content: '';
	visibility: visible;
	transform: rotate(45deg);
}

[data-popper-arrow]:after {
	content: '';
	visibility: visible;
	transform: rotate(45deg);
	position: absolute;
	width: 9px;
	height: 9px;
	background: inherit;
}

[role='tooltip'] > [data-popper-arrow]:before {
	border-style: solid;
	border-color: #e5e7eb;
}

.dark [role='tooltip'] > [data-popper-arrow]:before {
	border-style: solid;
	border-color: #4b5563;
}

.\!dark [role='tooltip'] > [data-popper-arrow]:before {
	border-style: solid !important;
	border-color: #4b5563 !important;
}

[role='tooltip'] > [data-popper-arrow]:after {
	border-style: solid;
	border-color: #e5e7eb;
}

.dark [role='tooltip'] > [data-popper-arrow]:after {
	border-style: solid;
	border-color: #4b5563;
}

.\!dark [role='tooltip'] > [data-popper-arrow]:after {
	border-style: solid !important;
	border-color: #4b5563 !important;
}

[data-popover][role='tooltip'][data-popper-placement^='top'] > [data-popper-arrow]:before {
	border-bottom-width: 1px;
	border-right-width: 1px;
}

[data-popover][role='tooltip'][data-popper-placement^='top'] > [data-popper-arrow]:after {
	border-bottom-width: 1px;
	border-right-width: 1px;
}

[data-popover][role='tooltip'][data-popper-placement^='right'] > [data-popper-arrow]:before {
	border-bottom-width: 1px;
	border-left-width: 1px;
}

[data-popover][role='tooltip'][data-popper-placement^='right'] > [data-popper-arrow]:after {
	border-bottom-width: 1px;
	border-left-width: 1px;
}

[data-popover][role='tooltip'][data-popper-placement^='bottom'] > [data-popper-arrow]:before {
	border-top-width: 1px;
	border-left-width: 1px;
}

[data-popover][role='tooltip'][data-popper-placement^='bottom'] > [data-popper-arrow]:after {
	border-top-width: 1px;
	border-left-width: 1px;
}

[data-popover][role='tooltip'][data-popper-placement^='left'] > [data-popper-arrow]:before {
	border-top-width: 1px;
	border-right-width: 1px;
}

[data-popover][role='tooltip'][data-popper-placement^='left'] > [data-popper-arrow]:after {
	border-top-width: 1px;
	border-right-width: 1px;
}

[data-popover][role='tooltip'][data-popper-placement^='top'] > [data-popper-arrow] {
	bottom: -5px;
}

[data-popover][role='tooltip'][data-popper-placement^='bottom'] > [data-popper-arrow] {
	top: -5px;
}

[data-popover][role='tooltip'][data-popper-placement^='left'] > [data-popper-arrow] {
	right: -5px;
}

[data-popover][role='tooltip'][data-popper-placement^='right'] > [data-popper-arrow] {
	left: -5px;
}